<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServerConfiguration" type="DotNetCraft.ConfigurationParser.SimpleConfigurationSectionHandler, DotNetCraft.ConfigurationParser" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="PerformanceTestModel" connectionString="data source=DESKTOP-M3DHIK5;initial catalog=PerformanceTestModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <ServerConfiguration>

    <SqlSettings name="WiseQueueEntities">
      <ConnectionString>Data Source=DESKTOP-M3DHIK5;Initial Catalog=DotNetCraftWiseQueue;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework</ConnectionString>
    </SqlSettings>

    <ServerManagerConfiguration>
      <Name>Server Manager</Name>
      <StartImmediately>false</StartImmediately>
      <SleepTime>00:00:30</SleepTime>
      <ServerHeartbeat>00:01:00</ServerHeartbeat>
      <Queues>
        <queue>SimleTask</queue>
        <queue>SlowTask</queue>
      </Queues>
    </ServerManagerConfiguration>

    <TaskManagerConfiguration>
      <Name>Task Manager</Name>
      <StartImmediately>false</StartImmediately>
      <SleepTime>00:00:05</SleepTime>

      <TaskProcessingConfiguration>
        <MaxProcessingTasks>5</MaxProcessingTasks>
      </TaskProcessingConfiguration>

    </TaskManagerConfiguration>

  </ServerConfiguration>  

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>